# ==========================
# Ambiente virtual
# ==========================
.venv/

# ==========================
# Build
# ==========================
site/
.uai-build/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Testes
# ==========================
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# ==========================
# Linters
# ==========================
.mypy_cache/
.ruff_cache/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Variáveis de ambiente
# ==========================
.env
.env.*

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Sistema operacional
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDEs
# ==========================
.vscode/
.idea/
